#contato {
  max-width: 1200px;
  padding: 40px 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #F9F9F9;
}


.sobre-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#contato h2 {
  color: #28272E;
  font-size: 4.5rem;
  font-family: 'K2D', sans-serif;
}

.sobre-contato p {
  color: #16151A;
  font-size: 1.125rem;
  max-width: 46ch;
}





