#formacao {
  max-width: 1920px;
  padding: 40px 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

#formacao h2{
  color: #63FFDB;
  font-size: 4.5rem;
  font-family: 'K2D', sans-serif;
}

.formacao-cursos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item-formacao {
  font-size: 1.5rem;
  
}
.item-formacao h3 {
  margin-top: 40px;
  margin-bottom: 16px;
  color: #8187C2;
  
}

#formacao > div > div > div:nth-child(1) > table > tbody > tr:nth-child(1) > th > h4{
  margin: 0px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  
}
td.align-left {
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
}
 td.align-right{
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
}


.table-formacao {
  border-left: 10px solid rgba(99, 255, 219, 1);
  padding-left: 4px;
  
  border-radius: 4px;
}
.table-cursos-intensivos td{
  font-size: 1.125rem;
  font-weight: bold;
  max-width: 100%;
}

  
.align-left li {
    list-style-image: url('../imagens-portfolio/Rectangle\ 43.svg');
    padding-top: 5px;
  }


.table-cursos-intensivos{
  margin-bottom: 24px;
}

.formacao-cursos .img-formacao {
  object-fit: cover;
  object-position: center;
  margin-top: 60px;
  
}

/*responsivo max 1200px*/
@media (max-width: 1200px) {
  #formacao h2{
    font-size: 3rem;
  }
  .table-cursos-intensivos td{
    font-size: 1rem;
  }
  .formacao-cursos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .sobre-formacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
  }
  .formacao-cursos .img-formacao {
    display: none;
  }
  .table-cursos-intensivos{
    float: right;
  }
  h3.cursos-intensivos{
    float: right;
    margin-right: 48px;
  }

  #formacao > div > div > div:nth-child(1) > table > tbody > tr:nth-child(1) > th > h4{
    font-size: 1.1rem;
  }
}

/*responsivo max 800px*/
@media (max-width: 800px) {
  .sobre-formacao {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .table-cursos-intensivos{
    float: none;
  }
  h3.cursos-intensivos{
    float: none;
    margin-right: 0px;
  }




}